.AllTeams {
    text-align: center;
}
.AllTeamsList {
  display: flex;
  color: white;
  padding: 15px;
  font-size: 9pt;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
}

.AllTeamsList a {
color: white;
text-decoration: none;
}
